body{
	background-color: lightblue;
	padding-left: 300px;
}
h3 p{
	padding-right:150px 16px;
}
h4 p{
	text-align:center;
	background-color: blue;
	background-repeat:0;
	border:3px solid black;
}
p{
	padding-right: 0px;
}

